<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Pili Pili Website{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavAltMarkup">
                    <div class="navbar-nav  d-flex flex-row bd-highlight mb-3">
                        <a class="nav-item nav-link {% if currentHome is defined and currentHome == "home"%} navActive {% endif%} " href={{ path('home') }}>Pilipiliweb</a>
                        <a class="nav-item nav-link {% if currentNewProduct is defined and currentNewProduct == "newProduct"%} navActive {% endif%} " href={{ path('product_new') }}>New product</a>
                        <a class="nav-item nav-link {% if currentProduct is defined and currentProduct == "product"%} navActive {% endif%} " href={{ path('product_index') }}>Products</a>
                    </div>
                </div>
            </nav>
        </header>
        {% endblock %}
        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message | trans }}
        </div>
    {% endfor %}
        <div class="container-fluid">
            {% block body %}{% endblock %}
            {{ render_esi(path('ch_cookie_consent.show', { 'locale' : 'fr' })) }}
            {% include "@CHCookieConsent/cookie_consent_styling.html.twig" %}
        </div>
        {% block javascripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/trumbowyg.min.js" integrity="sha512-sffB9/tXFFTwradcJHhojkhmrCj0hWeaz8M05Aaap5/vlYBfLx5Y7woKi6y0NrqVNgben6OIANTGGlojPTQGEw==" crossorigin="anonymous"></script>
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <!-- Import Trumbowyg -->
    </body>
</html>
